<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Optional: Add custom CSS for additional styling */
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">Your Cart</h1>
        <ul class="list-group mb-4">
            {% for item in order.orderitem_set.all %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <span>{{ item.quantity }} x {{ item.game.title }}</span>
                        <span class="badge badge-primary badge-pill">${{ item.game.price }}</span>
                    </div>
                    <form action="{% url 'remove_from_cart' item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm mt-2">Remove</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        
        <!-- Checkout Button -->
        <div class="text-center">
          <a href="{% url 'checkout' order_reference=order.order_reference %}" class="btn btn-primary">Checkout</a>
      </div>
    </div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
