{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <h1>Create Custom Game</h1>
    {% if form.is_bound and form.is_valid %}
        <div class="alert alert-success" role="alert">
            Form submitted successfully!
        </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}