<div class="footer">
    <div class="container">
        <div class="box">
            <h3>Dark Forge</h3>
            <ul class="social">
                <li>
                    <a href="#" class="facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="youtube">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
            </ul>
            <p class="text">Your best immersive and engaging gaming experiences</p>
        </div>
        <div class="box">
            <ul class="links">
                <li><a href="{% url 'index' %}">Games</a></li>
                <li><a href="customGame.html">Create Your Game</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="box">
            <div class="line">
                <i class="fas fa-map-marker-alt fa-fw"></i>
                <div class="info">
                    Algeria, Bejaia, Amizour, École supérieure en Sciences et Technologies de l'Informatique et du
                    Numérique, N75
                </div>
            </div>
            <div class="line">
                <i class="far fa-clock fa-fw"></i>
                <div class="info">
                    Business Hours: From 10:00 To 18:00
                </div>
            </div>
            <div class="line">
                <i class="fas fa-phone-volume fa-fw"></i>
                <div class="info">
                    <span>+20123456789</span>
                    <span>+20198765432</span>
                </div>
            </div>
        </div>
        <div class="box footer-gallery">
            <img src="/static/images/exit.webp" alt="">
            <img src="/static/images/door1.webp" alt="">
            <img src="/static/images/gallery-03.jpg" alt="">
            <img src="/static/images/gallery-04.png" alt="">
            <img src="/static/images/gallery-05.jpg" alt="">
            <img src="/static/images/gallery-06.png" alt="">
        </div>
    </div>
    <p class="copyright">Made With <span>&lt;3</span> By 0xkatana</p> 
</div>