{% include 'shop/header.html'%}   
 
<body>
    <h1>Payment failed for order: {{order.order_reference}}</h1>
    <div class="order-container">
        {% for item in order.orderitem_set.all %}
        <div class="order-item">
            <img class="img" src="{{ item.game.image.url }}" alt="">
            <p>{{ item.game.title }}</p>
            <p>Price: $ {{ item.game.price }}</p>
            <p>Quantity: {{ item.quantity }}</p>
        </div>
        {% endfor %}
        <div class="message">
            <p>Unfortunately, your payment for this order has failed.</p>
            <p>Please contact customer support for assistance.</p>
        </div>
    </div>
    <style>
        body {
            padding: 10px;
            box-sizing: border-box;
        }

        .order-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100vh;
        }

        .order-item {
            margin-right: 20px;
        }

        .img {
            width: 60%;
            border-radius: 50px;
        }

        .message {
            margin-top: 20px;
        }

        button {
            padding: 10px;
            border-radius: 5px;
            background-color: dodgerblue;
            color: white;
            border: none;
        }
    </style>
    {% include 'shop/footer.html'%}
</body>
</html>
