{% include 'shop/header.html'%}   
 


 
    <!-- Start Discover Games -->
    <div class="discover-Games">
        <h2 class="main-title">Discover Games</h2>
        <div class="container">
            {% if messages %}
    <div class="alert-container">
      {% for message in messages %}
        <div class="alert alert-dismissible alert-{{ message.tags }}" role="alert" style="z-index: 15;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
            </div>
         {% endfor %}
        </div>
        {% endif %}
            <div class="overlay">
            </div>
            <!-- Start Trending -->
            <div class="trending">
                <h2>Trending</h2>
                <div class="trending-games">
                    {% if items %}
                        {% for item in items %}
                            <div class="box">
                                <a href="{% url 'game-detail' item.pk %}">
                                    <img src="{{ item.image.url }}" alt="">
                                    <p style="color: white;">{{ item.title }}</p>
                                    {% if item.price == 0 %}
                                        <span class="free">Free</span>
                                    {% else %}
                                        {% if item.discounts %}
                                            <span class="promo" reduction="-{{ item.discounts }}%">{{ item.price_discounted }}$</span>
                                        {% else %}
                                            <span>${{ item.price }}</span>
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="box">
                            <h1>Not Found</h1>
                        </div>
                    {% endif %}
                </div>
            <!-- End Trending -->
            <div class="containerr">
                <div class="pacman">
                </div>
                <div class="path"></div>
                <div class="path"></div>
                <div class="path"></div>
                <div class="path"></div>
                <div class="path"></div>
            </div>
            <!-- Start Section -->
            <div class="section">
                <div class="left-side">
                    
                    <div class="categories">
                        <h2 class="my-categories-title">Categories</h2>
                        <div class="games-categories">
                            {% for genre in genres %}
                            <div class="box " style="max-width: 200px; position: relative;">

                                <div class="box">
                                    <a style="position: relative; z-index: 10; color: white;" href="{% url 'search' %}?query=&genre={{ genre.name }}">
                                    
                                    <p style="bottom: 0px; color: white;">{{ genre.name }}</p>
                                   
                                    </a>
                                    </div>
                               
                                
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="my-games">
                        <a href="{% url 'search'  %}">
                            <h2 class="my-games-title">All Games</h2>
                        </a>
                        <div class="games-categories">
                             
                            {% for item in all_games %}
                            <div class="box" style="max-width: 180px;min-width: 180px;">
                            
                            <img src="{{ item.image.url }}" alt="">
                            <a href="{% url 'game-detail' item.pk %}"><p style="color: white;">{{ item.title }}</p>
                           
                            </a>
                            </div>
                            {% endfor %}


                            
                        </div>
                    </div>
                </div>
                <div class="right-side">
                    <div class="discounts">
                        <h2 class="discounts-title">Discounts</h2>
                        <div class="image">
                            <img  style="width: 400px;height: 160px;" id="dynamicImage" src="/static/imagesTwo/Games Library/SPIDERMAN Discount.png" alt="">
                        </div>
                    </div>
                    <div class="create-game">
                        
                        <h2 class="create-title">Create Your Game</h2>
                        <img style="width: 540px;height: 540px;" id="dynamicImage2" src="/static/images/create.png" alt=""><a href="{% url 'customgame' %}"></img>
                        <div class="dreams"><a href="{% url 'customgame' %}">Create Your Game</a></div>
                        

                    </div>
                </div>
            </div>
            <!-- End Section -->


        </div>


    </div>



    </div>
    <!-- End Discover Games -->
    <!-- Start Footer -->
    {% include 'shop/footer.html'%}   
    <!-- End Footer -->
    <script>
        // Array of image URLs
        var imageUrls = [
            "/static/imagesTwo/Games Library/SPIDERMAN Discount.png",
            "/static/images/minecraft.png",
            "/static/images/japan-aesthetic.gif",
            
            // Add more image URLs here if needed
        ];
       
        
        var currentIndex = 0; // Index to keep track of the current image
        
        // Function to change the image source
        function changeImage() {
            var dynamicImage = document.getElementById("dynamicImage");
            dynamicImage.src = imageUrls[currentIndex]; // Update image source
            currentIndex = (currentIndex + 1) % imageUrls.length; // Move to the next image index
        }
        
        // Call the changeImage function every 5 seconds
        setInterval(changeImage, 3000);
    </script>
</body>

</html>